<div class="card" *ngIf="user">
    <button mat-mini-fab class="mini" (click)="cancel()">
        <mat-icon><i class="fa-solid fa-times"></i></mat-icon>
    </button>

    <h4 class="card-title">
        <i class="fa-solid fa-user"></i>
        {{ user.name || 'New User' }}
    </h4>

    <p *ngIf="mode == 'create' || mode == 'edit'">
        <mat-form-field appearance="outline">
            <mat-label>Name:</mat-label>
            <input matInput [(ngModel)]="user.name">
            <mat-icon matSuffix><i class="fa-solid fa-id-card"></i></mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Email:</mat-label>
            <p *ngIf="mode == 'show'">{{ user.email }}</p>
            <input matInput *ngIf="mode == 'create' || mode == 'edit'" [(ngModel)]="user.email">
            <mat-icon matSuffix><i class="fa-solid fa-envelope"></i></mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Phone:</mat-label>
            <p *ngIf="mode == 'show'">{{ user.phone }}</p>
            <input matInput *ngIf="mode == 'create' || mode == 'edit'" [(ngModel)]="user.phone">
            <mat-icon matSuffix><i class="fa-solid fa-phone"></i></mat-icon>
        </mat-form-field>
    </p>

    <button *ngIf="mode == 'create' || mode == 'edit'" class="details" mat-fab extended (click)="saveUser()">
        {{ mode == 'edit' ? 'Update User' : 'Add User' }}
    </button>
</div>